@font-face {
	font-family: 'poppinsBold';
	src: url('../css/fonts/Poppins-Bold.woff') format('woff'),
		url('../css/fonts/Poppins-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsRegular';
	src: url('../css/fonts/Poppins-Regular.woff') format('woff'),
		url('../css/fonts/Poppins-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}